<!DOCTYPE html>
<html lang="es">
<head>
    <title>Piña Bot - Dashboard</title>

    <%- include('partials/header'); -%>
</head>
<body>
    <h1>En desarrollo...</h1>
    <a href="/">Volver al inicio</a>
</body>
</html>