<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css' />

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1><%= title %></h1>
  <p id="info">Bienvenido</p>

  <a class="btn btn-warning" id="login" style="display: none;" href="https://discord.com/api/oauth2/authorize?client_id=744386070552117278&redirect_uri=https%3A%2F%2Fpinabotweb.glitch.me&response_type=token&scope=identify">Iniciar sesión</a>

  <script src="/js/scripts.js"></script>
</body>
</html>