<!DOCTYPE html>
<html lang="es">
<head>
    <title><%= title %> - Soporte</title>
    
    <%- include('partials/header'); -%>
</head>
<body>
    <%- include("partials/navbar"); -%>
    
    <main class="main-container text-center" id="main">
        <h1><%= title %></h1>
        <div>
            <h4>Soporte</h4>
            <p>Únete al <a href="">servidor de soporte</a> de Piña Bot, en donde podrás recibir ayuda de nuestro equipo de soporte</p>

            <p>En él también podrás participar de encuestas, dar sugerencias, hablar con la comunidad, conseguir roles exclusivos, participar en sorteos y ¡mucho mucho más!</p>
        </div>
    </main>

    <script src="/js/navigation.js"></script>
</body>
</html>