<!DOCTYPE html>
<html lang="es">
<head>
    <title>Miembros del equipo | <%= title %></title>
    <%- include('../partials/header'); -%>

</head>
<body>
    <%- include("../partials/navbar"); -%>

    <main class="main-container text-center">
        
    </main>
</body>
</html>